---
import Layout from '../layouts/ShopLayout.astro';
---

<Layout title="Coming Soon...">
  <!-- <main>
    
  </main> -->

  
  <body>
    <h1 class="pink-text">Coming Soon ...</h1>
    <!-- <a href={authUrl}><button>Login</button></a> -->
    
    
</Layout>

<style>
  .graduate-pink-center {
    color: #ff66cc;
    text-align: center;
    font-family: 'Graduate', cursive;
  }

  .pink-text {
    color: #ff66cc;
    font-size: 10rem;
    text-align: left;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px #fff, 
               0 0 10px #fff, 
               0 0 20px #fff;
  }

  .login-button {
    display: inline-block;
    background-color: #1db954;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: #1ed760;
  }
</style>


